/* src/styles/global.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
}

body {
    background: black;
    color: #e50914;
    font-family: 'Courier New', monospace;
}