* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: 'Resident Evil';
    src:
        url('/fonts/Resident Evil Large.woff2') format('woff2'),
        url('/fonts/Resident Evil Large.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background: black;
    color: #e50914;
    font-family: 'Resident Evil', sans-serif;
}

.notfound-container {
    font-family: 'Resident Evil', sans-serif;
}

.back-btn,
.audio-btn {
    font-family: 'Courier New', monospace;
}