@import url('https://fonts.cdnfonts.com/css/resident-evil');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    background: black;
    color: #e50914;
    font-family: 'Resident Evil', sans-serif;
}